<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
<h1>메인페이지</h1>
<h2>과별 요구전공학점</h2>
<form action="/studentInfo/main/required_majorCredit" method="get">
    <input type="submit" value="요구전공학점불러오기">
</form>
<h2>과별 요구교양학점</h2>
<form action="/studentInfo/main/required_nonmajorCredit" method="get">
    <input type="submit" value="요구교양학점불러오기">
</form>
<h2>전공학점</h2>
<form action="/studentInfo/main/majorCredit" method="post">
    <input type="text" name="id" placeholder="Enter your ID">
    <input type="submit" value="전공학점가져오기">
</form>
<h2>교양학점</h2>
<form action="/studentInfo/main/nonmajorCredit" method="post">
     <input type="submit" value="교양학점가져오기">
</form>
<h2>학기별 전공과목</h2>
<form action="/studentInfo/main/majorCredit/semester" method="post">
    <input type="text" name="semester" placeholder="Enter your semester">
    <input type="submit" value="학기선택">
</form>
<h2>비교과</h2>
<form action="/studentInfo/main/required_nonSubject" method="post">
    <input type="text" name="major" placeholder="Enter your major ">
    <input type="text" name="num" placeholder="Enter your num">
    <input type="submit" value="가져오기">
</form>
</body>
</html>