<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
<h1>메인페이지</h1>
<h2>학기별 전공과목</h2>
<form action="/studentInfo/main/semester" method="post">
    <input type="text" name="semester" placeholder="Enter your semester">
    <input type="submit" value="학기선택">
</form>
</body>
</html>