<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
</head>
<body>
<h1>학적정보추가페이지</h1>
<h2>학과</h2>
<form action="/studentInfo/subject/majorlist/major" method="post">
    <input type="text" name="major" placeholder="Enter your major">
    <input type="submit" value="전공">
</form>
<h2>교양</h2>
<form action="/studentInfo/subject/nonmajorlist" method="get">
    <button>GET</button>
</form>
</form>
</body>
</html>