<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
</head>
<body>
<h1>학적정보추가페이지</h1>
<h2>듣지않은전공과목</h2>
<form action="/studentInfo/subject/majorlist/major" method="post">
    <input type="id" name="id" placeholder="Enter your id">
    <input type="major" name="major" placeholder="Enter your major">
    <input type="submit" value="불러오기">
</form>
<h2>듣지않은전공과목</h2>
<form action="/studentInfo/subject/nonmajorlist" method="post">
    <input type="id" name="id" placeholder="Enter your id">
    <input type="submit" value="불러오기">
</form>
<h2>시간</h2>
<form action="/studentInfo/subject/time" method="post">
    <input type="text" name="subject_name" placeholder="Enter your subject_name">
    <input type="submit" value="시간">
</form>
<h2>학생이 들은 전공과목</h2>
<form action="/studentInfo/subject/completed_majorsubject" method="post">
    <input type="id" name="id" placeholder="Enter your id">
    <input type="submit" value="id">
</form>
</body>
</html>